main {
    box-shadow: 5px 5px 12px lightgray;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 6px;
    margin-left: 20px;
    margin-bottom: 9px;
    word-break: break-word;
}

.postDetails{
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 0.8em;
}

.postsContainer{
    display: grid;
}

.grid-div{
    grid-column: 1 / 3;
}

img {
    width: 500px;
    border-radius: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .grid-div{
        grid-column: 1 / 4;
    }

    main{
        margin-left: 10px;
        margin-right: 10px;
    }

    .postDetails{
        font-size: 0.2em;
    }

    img {
        width: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .grid-div{
        grid-column: 1 / 4;
        padding-right: 20px;
    }
}