.image-style{
    width: 29px;
    height: 29px;
}

.subredditStyling{
    box-shadow: 5px 5px 12px lightgray;
    margin: 36px;
    grid-column: 3 / 4;
    padding: 24px;
}

.sub-spacing{
    padding-bottom: 9px;
}


@media only screen and (min-width: 320px) and (max-width: 425px){
    .subredditStyling{
        grid-column: 1 / 4;
    }

    .sub-spacing{
        font-size: small;
    }
}

@media only screen and (max-width: 768px) {
    .subredditStyling{
        grid-column: 1 / 4;
    }
}