.Comment-styling {
    box-shadow: 5px 5px 12px lightgray;
    margin: 10px;
    padding: 9px;
    display: grid;
}

@media only screen and (max-width: 425px) {
    .Comment-styling{
        font-size: 0.6em;
    }
}